body {
    font-family: Arial, sans-serif;
    background-color: #fff0fd; 
    color: #530653;

}
.container{
    width: 500px;
    margin:auto;
  }
form {
    margin-bottom: 1rem;
  }

input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #2f1b44;
    outline: none;
  }

input[type="text"]::placeholder {
    color: #530653; 
  }

button[type="submit"] {
    display: block;
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 16px;
    background-color: #ffccff; 
    color: #250347; 
    border: none;
    outline: none;
    cursor: pointer;
  }

ul {
    list-style-type: none;
    padding: 0;
  }

li {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: 16px;
    background-color: #ffccff; 
    color: #481877; 
  }

button {
    margin-left: 0.5rem;
    background-color: #cc99ff; 
    border: none;
    outline: none;
    cursor: pointer;
  }